<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466987975172-c6lseevcrr4a9qtk81fv7qo00i5jjne0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466987975172-c6lseevcrr4a9qtk81fv7qo00i5jjne0</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Id2LBNmnxpZy6eTNpRfKFL4_USDq2UA</string>
	<key>GCM_SENDER_ID</key>
	<string>466987975172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxcart</string>
	<key>PROJECT_ID</key>
	<string>getxcart-9e6c4</string>
	<key>STORAGE_BUCKET</key>
	<string>getxcart-9e6c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466987975172:ios:1f4cac1847313ef3812b51</string>
</dict>
</plist>